pandas
numpy
polars
duckdb
pyarrow
requests
tqdm
python-dotenv
unidecode
rapidfuzz
beautifulsoup4
lxml
openpyxl
xlrd
sidrapy
basedosdados
plotly
altair
matplotlib
seaborn
bokeh
folium
geopandas
shapely
pyproj
pyogrio
mapclassify
contextily
rasterio
xyzservices
pydeck
leafmap
imageio
kaleido
jinja2
nbformat
jupyterlab
ipykernel
scikit-learn
statsmodels
networkx
playwright
selenium
qrcode[pil]
